{% extends 'base.html' %}

{% block title %}
<title>درباره ما</title>
{% endblock %}

{% block content %}

<!-- Start Blog Details Area -->
<section class="blog-details-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="blog-details-desc">
                    <h2>با ما بیشتر آشنا شوید</h2>
                    <div class="article-content">

                        <h3 class="mt-5">لذت بازی در کنار آموزش مفاهیم درسی</h3>

                        <p></p>

                        <p></p>

                        <blockquote class="wp-block-quote mt-5">
                            <p>آموزش در کنار بازی باعث افزایش بهره وری دانش آموز می شود.</p>
                        </blockquote>

                        <h3 class="mt-5">استفاده از رده بندی سطوح یادگیری بلوم در طراحی دروس</h3>

                        <ul class="features-list">
                            <li><i class='d-inline-block bx bx-badge-check'></i><p class="d-inline-block">به یاد سپردن</p></li>
                            <li><i class='bx bx-badge-check'></i> <p class="d-inline-block">فهمیدن</p></li>
                            <li><i class='bx bx-badge-check'></i> <p class="d-inline-block">کاربرد</p></li>
                            <li><i class='bx bx-badge-check'></i><p class="d-inline-block">تحلیل</p></li>
                            <li><i class='bx bx-badge-check'></i><p class="d-inline-block">نقد و ارزیابی</p></li>
                            <li><i class='bx bx-badge-check'></i><p class="d-inline-block">خلق و آفرینش</p></li>
                        </ul>

                        <h3 class="mt-5">طراحان</h3>
                        <ul class="wp-block-gallery columns-3">
                            <li class="blocks-gallery-item">
                                <figure>
                                    <img src="{{ url_for('static', filename='img/anita.jpg') }}" alt="image" width="120px" height="127px">
                                </figure>
                                <p class="d-inline-block mt-3">آنیتا گفتاری - پایه نهم</p></li>
                            </li>

                            <li class="blocks-gallery-item">
                                <figure>
                                    <img src="{{ url_for('static', filename='img/tina.jpg') }}" alt="image" width="120px" height="127px">
                                </figure>
                                <p class="d-inline-block mt-3">تینا خطیبی - پایه نهم</p></li>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- End Blog Details Area -->

{% endblock %}



