{% extends 'base.html' %}

{% block title %}
<title>جزیره گنج ریاضی</title>
{% endblock %}

{% block content %}

<!-- Start Blog Details Area -->
<section class="blog-details-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="blog-details-desc">
                    <h2>با ما بیشتر آشنا شوید</h2>
                    <div class="article-content">

                        <h3>لذت بازی در کنار آموزش مفاهیم درسی</h3>

                        <p></p>

                        <p></p>

                        <blockquote class="wp-block-quote">
                            <p>آموزش در کنار بازی باعث افزایش بهره وری دانش آموز می شود</p>
                        </blockquote>

                        <h3>چهار عنصر اصلی که ما ارائه می دهیم:</h3>

                        <ul class="features-list">
                            <li><i class='bx bx-badge-check'></i>تقویت روحیه تیمی</li>
                            <li><i class='bx bx-badge-check'></i> چالش های کاربردی</li>
                            <li><i class='bx bx-badge-check'></i> تقویت تفکر استراتژیک</li>
                            <li><i class='bx bx-badge-check'></i> تعامل معلم و دانش آموز</li>
                        </ul>

                        <h3>سازندگان</h3>
                        <ul class="wp-block-gallery columns-3">
                            <li class="blocks-gallery-item">
                                <figure>
                                    <img src="{{ url_for('static', filename='img/anita.jpg') }}" alt="image" width="120px" height="127px">
                                </figure>
                                آنیتا گفتاری
                            </li>

                            <li class="blocks-gallery-item">
                                <figure>
                                    <img src="{{ url_for('static', filename='img/tina.jpg') }}" alt="image" width="120px" height="127px">
                                </figure>
                                تینا خطیبی
                            </li>
                        </ul>

                        
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- End Blog Details Area -->

{% endblock %}

