{% extends 'base.html' %}

{% block title %}
<title>درباره ما</title>
{% endblock %}


{% block content %}
<!-- ============================ Page Title Start================================== -->
<section class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="breadcrumbs-wrap">
                    <h1 class="breadcrumb-title">با ما بیشتر آشنا شوید</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============================ Page Title End ================================== -->	

<!-- ========================== About Facts List Section =============================== -->
<section class="pt-0">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="list_facts_wrap">
                    <div class="sec-heading mb-3 f-24">
                        <h2>چرا <span class="theme-cl">سعادت </span>بهترین انتخاب برای درک مفاهیم درسی برای شماست؟</h2>
                    </div>
                    <div class="list_facts">
                        <div class="list_facts_icons"><i class="ti-desktop"></i></div>
                        <div class="list_facts_caption">
                            <h4>محتوای با کیفیت و درجه یک</h4>
                            <p>ما با هدف افزایش میزان موفقیت و عملکرد دانش آموزان بویژه ناشنوایان، فعالیت خود را مبنی بر سنجش میزان پیشرفت تحصیلی در قالب سامانه تعاملی آموزشی محتوای بر خط دو منظوره (ویژه ناشنوایان و افراد عادی) طرح ریزی کردیم.</p>
                        </div>
                    </div>
                    <div class="list_facts">
                        <div class="list_facts_icons"><i class="ti-heart"></i></div>
                        <div class="list_facts_caption">
                            <h4>برقراری عدالت اجتماعی</h4>
                            <p>هدف ما، ایجاد کلاس تعاملی برخط همراه با روش نمایشی و لب‌خوانی معلم به همراه فرصت‌های برابر یادگیری برای دانش اموزان بویژه ناشنوایان، در طول دوره‌های مختلف می باشد.</p>
                        </div>
                    </div>
                    <div class="list_facts">
                        <div class="list_facts_icons"><i class="ti-harddrives"></i></div>
                        <div class="list_facts_caption">
                            <h4>بهبود فرآیند آموزشی ویژه ناشنوایان</h4>
                            <p> تغییر روش‌های آموزش و یادگیری و توجه بیشتر به روند آموزش ناشنوایان در نظام تعلیم و تربیت کشور را مورد توجه قرار دادیم.</p>
                        </div>
                    </div>
                    
                </div>
                <a href="{{ url_for('contact_us') }}" class="btn btn-modern">ارتباط با ما<span><i class="ti-arrow-left"></i></span></a>
            </div>
            
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="list_facts_wrap_img">
                    <img src="{{ url_for('static', filename='img/edu_2.png') }}" class="img-fluid" alt="" />
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================== About Facts List Section =============================== -->

<!-- ============================ Featured Instructor Start ================================== -->
<section class="bg-light">
    <div class="container">
    
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-6 col-sm-12">
                <div class="sec-heading center">
                    <h2>استاتید<span class="theme-cl"> برتر</span> درس های مختلف</h2>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
            
                <div class="four_slide-dots articles arrow_middle" dir="rtl">
                    
                    <!-- Single Slide -->
                    <div class="singles_items">
                        <div class="instructor_wrap">
                            <div class="instructor_thumb">
                                <a href="instructor-detail.html"><img src="{{ url_for('static', filename='img/golsa.jpg') }}" class="img-fluid" alt=""></a>
                            </div>
                            <div class="instructor_caption">
                                <h4><a href="instructor-detail.html">گلسا</a></h4>
                                <span>ریاضی - علوم</span>
                                <!-- <ul>
                                    <li><a href="#" class="cl-fb"><i class="ti-instagram"></i></a></li>
                                </ul> -->
                            </div>
                        </div>
                    </div>
                    
                    <!-- Single Slide -->
                    <div class="singles_items">
                        <div class="instructor_wrap">
                            <div class="instructor_thumb">
                                <a href="instructor-detail.html"><img src="{{ url_for('static', filename='img/setayesh.jpg') }}" class="img-fluid" alt=""></a>
                            </div>
                            <div class="instructor_caption">
                                <h4><a href="instructor-detail.html">ستایش</a></h4>
                                <span>ریاضی - علوم</span>
                                <!-- <ul>
                                    <li><a href="#" class="cl-fb"><i class="ti-instagram"></i></a></li>
                                </ul> -->
                            </div>
                        </div>
                    </div>
                
                </div>
            
            </div>
        </div>
        
    </div>
</section>
<!-- ============================ Featured Instructor End ================================== -->

<!-- ============================ Testimonial Start ================================== -->
<!-- <section>
    <div class="container">
    
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-6 col-sm-12">
                <div class="sec-heading center">
                    <h2><span class="theme-cl">چگونه</span> از خدمات ما استفاده کنید؟</h2>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <p>اینطوری</p>
            </div>
        </div>
        
    </div>
</section>	 -->
<!-- ============================ Testimonial End ================================== -->

<!-- ============================== Start Newsletter ================================== -->
<section class="newsletter theme-bg inverse-theme">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-8 col-sm-12">
                <div class="text-center">
                    <h2>به جامعه هزاران دانش آموز سعادت بپیوندید!</h2>
                    <p>به جامعه دانش آموزان ما بپیوندید و به هزاران ساعت آموزش در حوزه‌های گوناگون دسترسی داشته باشید.</p>
                    <form class="sup-form">
                        <input type="email" class="form-control sigmup-me" placeholder="ایمیل خود را وارد کنید..." required="required">
                        <input type="submit" class="btn btn-theme" value="عضویت">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================================= End Newsletter =============================== -->
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/content-info.js') }}"></script>
{% endblock %}
