{% extends 'base.html' %}

{% block title %}
<title>انتخاب محتوا</title>
{% endblock %}


{% block content %}
	
<!-- ========================== SignUp Elements ============================= -->
<section class="log-space">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-11 col-md-11">
				<div class="row no-gutters position-relative log_rads">
					<!-- ========================== Form ============================= -->
					<div class="col-lg-12 col-md-12 position-static p-4">
						<div class="log_wraps">
							<div class="log__heads">
								<h1 class="breadcrumb-title">ایجاد یک <span class="theme-cl">محتوای جدید</span></h4>
							</div>
							<form method="POST" action="{{ url_for('add_course') }}" novalidate>
								{{ form.hidden_tag() }}
								<div class="form-group row">
									<div class="col-12 mb-2">
										{{ form.grade.label }}
										{{ form.grade(class="form-control form-control-user", size=20) }}
										{% for error in form.grade.errors %}
											<span class="text-danger">{{ error }}</span>
										{% endfor %}
									</div>
									<div class="col-12 mb-2">
										{{ form.lesson.label }}
										{{ form.lesson(class="form-control form-control-user", size=20) }}
										{% for error in form.lesson.errors %}
											<span class="text-danger">{{ error }}</span>
										{% endfor %}
									</div>
									<div class="col-12 mb-2">
										{{ form.session.label }}
										{{ form.session(class="form-control form-control-user", size=20) }}
										{% for error in form.session.errors %}
											<span class="text-danger">{{ error }}</span>
										{% endfor %}
									</div>
									<div class="col-12 mb-2">
										{{ form.script.label }}
										{{ form.script(class="form-control form-control-user", size=20) }}
										{% for error in form.script.errors %}
											<span class="text-danger">{{ error }}</span>
										{% endfor %}
									</div>
									<div class="col-12 mb-2">
										{{ form.textbook.label }}
										{{ form.textbook(class="form-control form-control-user", size=20) }}
										{% for error in form.textbook.errors %}
											<span class="text-danger">{{ error }}</span>
										{% endfor %}
									</div>
									<div class="col-12 mb-2">
										{{ form.appliance.label }}
										{{ form.appliance(class="form-control form-control-user", size=20) }}
										{% for error in form.appliance.errors %}
											<span class="text-danger">{{ error }}</span>
										{% endfor %}
									</div>
									<div class="col-12 mb-2">
										{{ form.video.label }}
										{{ form.video(class="form-control form-control-user", size=20) }}
										{% for error in form.video.errors %}
											<span class="text-danger">{{ error }}</span>
										{% endfor %}
									</div>
									<div class="col-12 mb-2">
										{{ form.deaf.label }}
										{{ form.deaf(class="form-control form-control-user", size=20) }}
										{% for error in form.deaf.errors %}
											<span class="text-danger">{{ error }}</span>
										{% endfor %}
									</div>
									<div class="col-12 mb-2">
										{{ form.sec1.label }}
										{{ form.sec1(class="form-control form-control-user", size=20) }}
										{% for error in form.sec1.errors %}
											<span class="text-danger">{{ error }}</span>
										{% endfor %}
									</div>
									<div class="col-12 mb-2">
										{{ form.sec2.label }}
										{{ form.sec2(class="form-control form-control-user", size=20) }}
										{% for error in form.sec2.errors %}
											<span class="text-danger">{{ error }}</span>
										{% endfor %}
									</div>
									<div class="col-12 mb-2">
										{{ form.sec3.label }}
										{{ form.sec3(class="form-control form-control-user", size=20) }}
										{% for error in form.sec3.errors %}
											<span class="text-danger">{{ error }}</span>
										{% endfor %}
									</div>
									<div class="col-12 mb-2">
										{{ form.q1.label }}
										{{ form.q1(class="form-control form-control-user", size=20) }}
										{% for error in form.q1.errors %}
											<span class="text-danger">{{ error }}</span>
										{% endfor %}
									</div>
									<div class="col-12 mb-2">
										{{ form.o1.label }}
										{{ form.o1(class="form-control form-control-user", size=20) }}
										{% for error in form.o1.errors %}
											<span class="text-danger">{{ error }}</span>
										{% endfor %}
									</div>
									<div class="col-12 mb-2">
										{{ form.c1.label }}
										{{ form.c1(class="form-control form-control-user", size=20) }}
										{% for error in form.c1.errors %}
											<span class="text-danger">{{ error }}</span>
										{% endfor %}
									</div>
									<div class="col-12 mb-2">
										{{ form.q2.label }}
										{{ form.q2(class="form-control form-control-user", size=20) }}
										{% for error in form.q2.errors %}
											<span class="text-danger">{{ error }}</span>
										{% endfor %}
									</div>
									<div class="col-12 mb-2">
										{{ form.o2.label }}
										{{ form.o2(class="form-control form-control-user", size=20) }}
										{% for error in form.o2.errors %}
											<span class="text-danger">{{ error }}</span>
										{% endfor %}
									</div>
									<div class="col-12 mb-2">
										{{ form.c2.label }}
										{{ form.c2(class="form-control form-control-user", size=20) }}
										{% for error in form.c2.errors %}
											<span class="text-danger">{{ error }}</span>
										{% endfor %}
									</div>
									<div class="col-12 mb-2">
										{{ form.q3.label }}
										{{ form.q3(class="form-control form-control-user", size=20) }}
										{% for error in form.q3.errors %}
											<span class="text-danger">{{ error }}</span>
										{% endfor %}
									</div>
									<div class="col-12 mb-2">
										{{ form.o3.label }}
										{{ form.o3(class="form-control form-control-user", size=20) }}
										{% for error in form.o3.errors %}
											<span class="text-danger">{{ error }}</span>
										{% endfor %}
									</div>
									<div class="col-12 mb-2">
										{{ form.c3.label }}
										{{ form.c3(class="form-control form-control-user", size=20) }}
										{% for error in form.c3.errors %}
											<span class="text-danger">{{ error }}</span>
										{% endfor %}
									</div>
									<div class="col-12 mb-2">
										{{ form.q4.label }}
										{{ form.q4(class="form-control form-control-user", size=20) }}
										{% for error in form.q4.errors %}
											<span class="text-danger">{{ error }}</span>
										{% endfor %}
									</div>
									<div class="col-12 mb-2">
										{{ form.o4.label }}
										{{ form.o4(class="form-control form-control-user", size=20) }}
										{% for error in form.o4.errors %}
											<span class="text-danger">{{ error }}</span>
										{% endfor %}
									</div>
									<div class="col-12 mb-2">
										{{ form.c4.label }}
										{{ form.c4(class="form-control form-control-user", size=20) }}
										{% for error in form.c4.errors %}
											<span class="text-danger">{{ error }}</span>
										{% endfor %}
									</div>
									<div class="col-12 mb-2">
										{{ form.q5.label }}
										{{ form.q5(class="form-control form-control-user", size=20) }}
										{% for error in form.q5.errors %}
											<span class="text-danger">{{ error }}</span>
										{% endfor %}
									</div>
									<div class="col-12 mb-2">
										{{ form.o5.label }}
										{{ form.o5(class="form-control form-control-user", size=20) }}
										{% for error in form.o5.errors %}
											<span class="text-danger">{{ error }}</span>
										{% endfor %}
									</div>
									<div class="col-12 mb-2">
										{{ form.c5.label }}
										{{ form.c5(class="form-control form-control-user", size=20) }}
										{% for error in form.c5.errors %}
											<span class="text-danger">{{ error }}</span>
										{% endfor %}
									</div>
								</div>
								<!-- <div class="form-group">
									{{ form.grade.label }}
									{{ form.grade(class="form-control form-control-user", size=20) }}
									{% for error in form.grade.errors %}
										<span class="text-danger">{{ error }}</span>
									{% endfor %}
								</div> -->


								
								<div class="form-group">
									{{ form.submit(class="btn btn-primary btn-user btn-block") }}
								</div>
							</form>				
						</div>
					</div>
				</div>
			
			</div>
		</div>
	</div>
</section>
<!-- ========================== Login Elements ============================= -->
{% endblock %}