{% extends 'base.html' %}

{% block title %}
<title>تماس با ما</title>
{% endblock %}

{% block content %}
<!-- Start Contact Area -->
<section class="contact-area ptb-100">
    <div>
        <h2 class="px-5">با ما در تماس باشید</h2>
    </div>
    
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
                <div class="contact-info">
                    <ul>
                        <li>
                            <div class="icon">
                                <i class="flaticon-location"></i>
                            </div>
                            <h3>آدرس ما</h3>
                            <p>ایران ، استان خراسان رضوی، مشهد</p>
                        </li>
                        <li>	
                            <div class="icon">	
                                <i class="flaticon-24-hours"></i>	
                            </div>	
                            <h3>تماس بگیرید</h3>	
                            <p class="pt-2">تلفن همراه: <a href="tel:+44457895789">1111111-0915</a></p>	
                            <p>تلفن ثابت: <a href="tel:+44457895789">12345678-051</a></p>	
                            <p>ایمیل: <a href="mailto:hello@zelda.com">Jazire.ganj2023@gmail.com</a></p>	
                            <p>ایتا: <a href="ita:@zelda">JazireGanj2023@</a></p>	
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 mt-5">
                <div class="prc_wrap">
                    
                    <div class="prc_wrap_header">
                        <h5 class="property_block_title">فرم نظرات، انتقادات و پیشنهادات</h5>
                    </div>
                    
                    <div class="prc_wrap-body">
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group">
                                    <label>نام کامل</label>
                                    <input type="text" class="form-control simple">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group">
                                    <label>ایمیل</label>
                                    <input type="email" class="form-control simple">
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label>عنوان</label>
                            <input type="text" class="form-control simple">
                        </div>
                        
                        <div class="form-group">
                            <label>پیام</label>
                            <textarea class="form-control simple"></textarea>
                        </div>
                        
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit">ارسال درخواست</button>
                        </div>
                    </div>
                    
                </div>
                                
            </div>
        </div>
    </div>
</section>
<!-- End Contact Area -->
{% endblock %}