{% extends 'base.html' %}

{% block title %}
<title>جزیره گنج فرزان</title>
{% endblock %}

{% block content %}
<!-- Start Contact Area -->
<section class="contact-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="contact-info">
                    <span class="sub-title">جزئیات تماس با  ما</span>
                    <h2>با ما در تماس باشید</h2>

                    <ul>
                        <li>
                            <div class="icon">
                                <i class="flaticon-location"></i>
                            </div>
                            <h3>آدرس ما</h3>
                            <p>ایران ، استان خراسان رضوی، مشهد</p>
                        </li>
                        <li>
                            <div class="icon">
                                <i class="flaticon-24-hours"></i>
                            </div>
                            <h3>تماس بگیرید</h3>
                            <p>موبایل: <a href="tel:+44457895789">1111111-0915</a></p>
                            <p>ایمیل: <a href="mailto:hello@zelda.com">ganj@info.com</a></p>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- End Contact Area -->
{% endblock %}