{% extends 'base.html' %}

{% block title %}
<title>راهنما</title>
{% endblock %}


{% block content %}
<!-- ============================ Page Title Start================================== -->
<section class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="breadcrumbs-wrap">
                    <h1 class="breadcrumb-title">راهنمای سایت</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============================ Page Title End ================================== -->	

<!-- ========================== About Facts List Section =============================== -->
<section class="pt-0">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="list_facts_wrap">
              
                    <div class="list_facts">
                        <div class="list_facts_icons"><i class="ti-desktop"></i></div>
                        <div class="list_facts_caption">
                            <h4>ثبت نام</h4>
                            <p>ابتدا در سامانه سعادت (سامانه تعاملی آموزشی محتوای بر خط دو منظوره -ویژه ناشنوایان و افراد عادی) ثبت نام کنید.</p>
                        </div>
                    </div>
                    <div class="list_facts">
                        <div class="list_facts_icons"><i class="ti-heart"></i></div>
                        <div class="list_facts_caption">
                            <h4>انتخاب محتوای آموزشی</h4>
                            <p>برای شروع آموزش و استفاده از محتوای آموزشی، پایه تحصیلی، درس و فصل مورد نظر را انتخاب می کنید، سپس کلید شروع را انتخاب می کنید.</p>
                        </div>
                    </div>
                    <div class="list_facts">
                        <div class="list_facts_icons"><i class="ti-harddrives"></i></div>
                        <div class="list_facts_caption">
                            <h4>آموزش و یادگیری</h4>
                            <p>هر فصل شامل یک بخش کلی و سه بخش جزئی است. در هر بخش جزئی به آهنگ ویژه ناشنوایان توجه شده و شما می توانید  از فیلم آموزشی افراد عادی و ناشنوا به همراه متن آن استفاده نمایید. در هر بخش کلی شما می توانید فیلم آموزشی افراد عادی و ناشنوا را به طور کامل تماشا کنید و از متن و  بهره ببرید و با کاربرد هر فصل آشنا شوید.</p>
                        </div>
                    </div>
                    <div class="list_facts">
                        <div class="list_facts_icons"><i class="ti-harddrives"></i></div>
                        <div class="list_facts_caption">
                            <h4>ارزیابی</h4>
                            <p>در پایان هر فصل، آزمونی قرار دارد که می توانید خود را ارزیابی کنید و برای افزایش انگیزه ی شما امتیاز دریافت خواهید کرد.</p>
                        </div>
                    </div>
                    <div class="list_facts">
                        <div class="list_facts_icons"><i class="ti-harddrives"></i></div>
                        <div class="list_facts_caption">
                            <h4>پشتیبانی سریع</h4>
                            <p>چنانچه اشکالی دارید می توانید در قسمت رفع اشکال، سوال خود را مطرح کنید و مت در کمترین زمان ممکن پاسخ شما را خواهیم داد.</p>
                        </div>
                    </div>

                </div>
            </div>
            
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="list_facts_wrap_img">
                    <img src="{{ url_for('static', filename='img/edu_3.png') }}" class="img-fluid" alt="" />
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============================ Agency List End ================================== -->
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/content-info.js') }}"></script>
{% endblock %}
