{% extends 'base.html' %}

{% block title %}
<title>راهنما</title>
{% endblock %}

{% block content %}
<!-- Start Contact Area -->
<section class="contact-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="blog-details-desc">
                    <h2>سفر به آداک</h2>
                    <div class="article-content">
                        <li><p class="d-inline-block">سفر یه آداک ریاضی، یک بازی جذاب تیمی - آموزشی است که در قالب تیم های 2 الی 3 نفره  آموزان در سه مرحله مقدماتی، استانی و کشوری، به صورت ماهیانه و آنلاین برگزار می شود.</p></li>
                        <li><p class="d-inline-block"> ریاضی در مرحله مقدماتی، شامل 9 جزیره به نام های مختلف دانشمندان می باشد که هر جزیره شامل6 مرحله (چالش) از ساده به سخت است که در پایان هر ماه برگزار می شود.</p></li>
                        <li><p class="d-inline-block">در هر مرحله 1 چالش یکسان به تیم ها داده می شود و آن ها باید به صورت تیمی و با فکر جدید و قدرت ذهنی خود به سوالات در قسمت مشخص شده، پاسخ صحیح دهند و مراحل را به ترتیب طی کنند.</p></li>
                        <li><p class="d-inline-block">بعد از پایان هر جزیره، علاوه بر امتیازی که کسب کردند، امتیازی یکسان به نشانه "برد – برد" بین آن ها به عنوان جایزه تقسیم می شود.</p></li>
                        <li><p class="d-inline-block">بعد از اتمام هر مسابقه، نمونه سوالات به همراه پاسخ نامه قابل دسترس دانش آموزان قرار می گیرد و بدین طریق آن ها با نمونه سوالات آزمایشی مسابقات تیمز و علوم دیگر آشنا می‌شوند (در حال ارتقا).</p></li>
                        <li><p class="d-inline-block">سؤالات این رویداد از مفاهیم کتب درسی سال تحصیلی جاري دانش آموزان در هر پایه می باشند که نیاز به دانش و تکنیک خیلی پیشرفته ندارند بلکه برای تقویت خلاقیت دانش آموزان طراحی شده اند.</p></li>
                        <li><p class="d-inline-block">تیم هایی که بیش از مثلا۶۰۰۰ امتیاز کسب نمایند به مسابقه استانی دعوت خواهد شد. سفر به آداک در مرحله استانی، شامل 1 جزیره است. </p></li>
                        <li><p class="d-inline-block">تیم هایی که بیش از مثلا۶۰۰۰ امتیاز کسب نمایند به مسابقه بزرگ کشوری دعوت خواهند شد. سفر به آداک در مرحله کشوری، شامل 1 جزیره است.</p></li>
                        <li><p class="d-inline-block">تیم هایی که بیش از مثلا۶۰۰۰ امتیاز کسب نمایند به جشنواره تابستانه دعوت خواهند شد. و هدایای نفیسی دریافت می کنند.</p></li>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Contact Area -->
{% endblock %}