{% extends 'base.html' %}

{% block title %}
<title>جزیره گنج ریاضی | صفحه اصلی</title>
{% endblock %}

{% block content %}
<!-- Start Banner Area -->
<div class="banner-wrapper-area jarallax" data-jarallax='{"speed": 0.3}'>
    <div class="container">
        <div class="banner-wrapper-content">
            <h1>جزیره گنج ریاضی</h1>
            <span class="sub-title">یادگیری مفاهیم درسی و کار تیمی در قالب بازی جمعی</span>
        </div>
    </div>
</div>
<!-- End Banner Area -->

        <!-- ============================ Trips Facts Start ================================== -->
<div class="trips_wrap full colored">
    <div class="container">
        <div class="row m-0">
            <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="trips">
                        <div class="trips_icons">
                            <i class='bx bx-brain'></i>
                        </div>
                        <div class="trips_detail">
                            <h4>تقویت روحیه تیمی</h4>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="trips">
                        <div class="trips_icons">
                            <i class='bx bx-game'></i>
                        </div>
                        <div class="trips_detail">
                            <h4>بازی وارسازی آموزش</h4>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="trips none">
                        <div class="trips_icons">
                            <i class='bx bx-group'></i>
                        </div>
                        <div class="trips_detail">
                            <h4>تقویت تفکر راهبردی</h4>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- ============================ Trips Facts Start ================================== -->
<!-- ========================== Featured Category Section =============================== -->
<section class="pt-70 mb-3 mb-5">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-6 col-sm-12">
                <div class="sec-heading center mb-5">
                    <p class="text-red text-center">دروس منتخب</p>
                    <h2 class="text-red text-center">ریاضی پایه‌های هفتم - هشتم - نهم </h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="edu_cat_2 cat-1">
                    <div class="edu_cat_icons">
                        <i class="bx bx-calculator" aria-hidden="true"></i>
                    </div>
                    <div class="edu_cat_data">
                        <h3 class="title"><a>ریاضی هفتم</a></h3>
                    </div>
                </div>							
            </div>
            
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="edu_cat_2 cat-2">
                    <div class="edu_cat_icons">
                        <i class="bx bx-calculator" aria-hidden="true"></i>  
                    </div>
                    <div class="edu_cat_data">
                        <h3 class="title"><a>ریاضی هشتم</a></h3>
                    </div>
                </div>							
            </div>
            
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="edu_cat_2 cat-3">
                    <div class="edu_cat_icons">
                        <i class="bx bx-calculator" aria-hidden="true"></i>
                    </div>
                    <div class="edu_cat_data">
                        <h3 class="title"><a>ریاضی نهم</a></h3>
                    </div>
                </div>							
            </div>    
 
<!--             <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="edu_cat_2 cat-1">
                    <div class="edu_cat_icons">
                        <i class="bx bx-calculator" aria-hidden="true"></i>
                    </div>
                    <div class="edu_cat_data">
                        <h3 class="title"><a>ریاضی</a></h3>
                    </div>
                </div>							
            </div>
            
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="edu_cat_2 cat-2">
                    <div class="edu_cat_icons">
                        <i class="bx bx-search" aria-hidden="true"></i>  
                    </div>
                    <div class="edu_cat_data">
                        <h3 class="title"><a>علوم</a></h3>
                    </div>
                </div>							
            </div>
           
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="edu_cat_2 cat-3">
                    <div class="edu_cat_icons">
                        <i class="bx bx-book" aria-hidden="true"></i>
                    </div>
                    <div class="edu_cat_data">
                        <h3 class="title"><a>فارسی</a></h3>
                    </div>
                </div>							
            </div>
            
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="edu_cat_2 cat-3">
                    <div class="edu_cat_icons">
                        <i class="bx bx-flag" aria-hidden="true"></i>
                    </div>
                    <div class="edu_cat_data">
                        <h3 class="title"><a>انگلیسی</a></h3>
                    </div>
                </div>							
            </div>
            
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="edu_cat_2 cat-4">
                    <div class="edu_cat_icons">
                        <i class="bx bx-flag" aria-hidden="true"></i>
                    </div>
                    <div class="edu_cat_data">
                        <h3 class="title"><a>عربی</a></h3>
                    </div>
                </div>							
            </div>
            
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="edu_cat_2 cat-1">
                    <div class="edu_cat_icons">
                        <i class="bx bx-flag" aria-hidden="true"></i>
                    </div>
                    <div class="edu_cat_data">
                        <h3 class="title"><a>قرآن</a></h3>
                    </div>
                </div>							
            </div>
            
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="edu_cat_2 cat-10">
                    <div class="edu_cat_icons">
                        <i class="bx bx-health" aria-hidden="true"></i>
                    </div>
                    <div class="edu_cat_data">
                        <h3 class="title"><a>مطالعات</a></h3>
                    </div>
                </div>							
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="edu_cat_2 cat-6">
                    <div class="edu_cat_icons">
                        <i class="bx bx-health" aria-hidden="true"></i>
                    </div>
                    <div class="edu_cat_data">
                        <h3 class="title"><a>پیام</a></h3>
                    </div>
                </div>							
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="edu_cat_2 cat-8">
                    <div class="edu_cat_icons">
                        <i class="bx bx-health" aria-hidden="true"></i>
                    </div>
                    <div class="edu_cat_data">
                        <h3 class="title"><a>دفاعی</a></h3>
                    </div>
                </div>							
            </div> -->
</div>
</section>
<!-- ========================== Featured Category Section =============================== -->
<!-- ========================== About Facts List Section =============================== -->
<section class=" my-5 pt-100 pb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="list_facts_wrap">
                    <div class="sec-heading mb-3 f-24">
                        <h5>چرا <span class="theme-cl"> جزیره گنج </span>بهترین انتخاب برای یادگیری شماست؟</h4>
                        </div>
                    <div class="list_facts">
                        <div class="list_facts_icons"><i class="bx bx-desktop"></i></div>
                        <div class="list_facts_caption">
                            <h4 class="pt-5">چالش‌های جذاب</h4>
                            <p class="pt-3">سوالات طرح شده در جزیره گنج ریاضی از نوع عملکردی می‌باشد و ما برای نمونه از سوالات قابل انتشار تیمز استفاده کردیم.</p>
                        </div>
                    </div>
                    <div class="list_facts">
                        <div class="list_facts_icons"><i class="bx bx-heart"></i></div>
                        <div class="list_facts_caption">
                            <h4>جایزه های بی نظیر</h4>
                            <p class="pt-3">بله درست شنیدید! در کنار یاد گرفتن درس های همیشگیتان و فعالیت در کار تیمی، جایزه نیز دریافت می کنید.</p>
                        </div>
                    </div>
                    <div class="list_facts">
                        <div class="list_facts_icons"><i class="bx bx-phone-call"></i></div>
                        <div class="list_facts_caption">
                            <h4>پشتیبانی سریع</h4>
                            <p class="pt-3">هرگونه نظر، انتقاد و پیشنهاد را می توانید در سریع ترین زمان با ما در میان بگذارید و پاسخ ما را دریافت کنید.</p>
                        </div>
                    </div>
                    
                </div>
            </div>
            
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="list_facts_wrap_img">
                    <img src="{{ url_for('static', filename='img/isl-def.png') }}" class="img-fluid" alt="" />
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================== About Facts List Section =============================== -->
<!--CTA-->
<section class=" py-5 trips_wrap full colored">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-8 col-sm-12">
                <div class="text-center">
                    <h2>به سامانه جذاب آموزشی  بپیوندید!</h2>
                    <p>اگر هنوز مدرسه‌تان در جزیره گنج ریاضی ثبت نام نکرده، همین حالا ثبت نام کنید و لذت یادگیری و بازی را تجربه کنید.</p>
                    <div class="cta-bottom mt-4">
                        <a href="{{ url_for('register') }}" class="w-50 d-block m-auto">ثبت نام</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--CTA END-->
{% endblock %}