{% extends 'base.html' %}

{% block title %}
<title>آکیــما</title>
{% endblock %}

{% block content %}
<div class="owl-carousel main-slider">
    <div class="item-card">
        <div class="card-content bg-lightblue">
            <div class="card-info d-flex my-4">
                <div class="info-holder">
                    <span>خوش آمدید</span>
                    <h4 class="text-light">{{ user.fname + ' ' + user.lname }}</h4>
                </div>
            </div>
            <span>میزان شارژ سیم کارت</span>
            <h2 class="text-light d-flex align-items-end" id="data-charge">
                {{ record.charge }}
                <span class="mx-2">تومان</span>
            </h2>
        </div>
    </div>
</div>

<div class="market-item py-4">
    <h4 class="main-title py-4">خلاصه وضعیت</h4>
    <div class="row g-3">
        <div class="col-6 col-md-4 col-lg-3">
            <div class="crypto-card overflow-hidden">
                <div class="card-body p-0">
                    <div class="mb-0 p-3">
                        <h5>
                            <span class="cryp-icon my-auto me-2">
                                <img src="{{ url_for('static', filename='img/icons/thermometer.png') }}" alt="coin image">
                            </span>
                            دما
                        </h5>
                        <div class="d-flex justify-content-between mt-2">
                            <p class="d-flex font-weight-normal" id="data-temperature">{{ record.temperature }} درجه</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <div class="crypto-card overflow-hidden">
                <div class="card-body p-0">
                    <div class="mb-0 p-3">
                        <h5>
                            <span class="cryp-icon my-auto me-2">
                                <img src="{{ url_for('static', filename='img/icons/humidity.png') }}" alt="coin image">
                            </span>
                            رطوبت
                        </h5>
                        <div class="d-flex justify-content-between mt-2">
                            <p class="d-flex font-weight-normal" id="data-humidity">{{ record.humidity }}%</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <div class="crypto-card overflow-hidden">
                <div class="card-body p-0">
                    <div class="mb-0 p-3">
                        <h5>
                            <span class="cryp-icon my-auto me-2">
                                <img src="{{ url_for('static', filename='img/icons/pressure.png') }}" alt="coin image">
                            </span>
                            فشار هوا
                        </h5>
                        <div class="d-flex justify-content-between mt-2">
                            <p class="d-flex font-weight-normal" id="data-pressure">{{ record.pressure }} پاسکال</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <div class="crypto-card overflow-hidden">
                <div class="card-body p-0">
                    <div class="mb-0 p-3">
                        <h5>
                            <span class="cryp-icon my-auto me-2">
                                <img src="{{ url_for('static', filename='img/icons/sun.png') }}" alt="coin image">
                            </span>
                            نور
                        </h5>
                        <div class="d-flex justify-content-between mt-2">
                            <p class="d-flex font-weight-normal" id="data-light">{{ record.light }} لوکس</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <div class="crypto-card overflow-hidden">
                <div class="card-body p-0">
                    <div class="mb-0 p-3">
                        <h5>
                            <span class="cryp-icon my-auto me-2">
                                <img src="{{ url_for('static', filename='img/icons/rain.png') }}" alt="coin image">
                            </span>
                            وضعیت باران
                        </h5>
                        <div class="d-flex justify-content-between mt-2">
                            {% if record.rain < 1 %}
                                <p class="d-flex font-weight-normal" id="data-rain">خشک</p>
                            {% elif record.rain < 2 %}
                                <p class="d-flex font-weight-normal" id="data-rain">شبنم</p>
                            {% elif record.rain < 3 %}
                                <p class="d-flex font-weight-normal" id="data-rain">آرام</p>
                            {% else %}
                                <p class="d-flex font-weight-normal" id="data-rain">شدید</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <div class="crypto-card overflow-hidden">
                <div class="card-body p-0">
                    <div class="mb-0 p-3">
                        <h5>
                            <span class="cryp-icon my-auto me-2">
                                <img src="{{ url_for('static', filename='img/icons/soil.png') }}" alt="coin image">
                            </span>
                            رطوبت خاک
                        </h5>
                        <div class="d-flex justify-content-between mt-2">
                            {% if record.rain < 1 %}
                                <p class="d-flex font-weight-normal" id="data-soil">خشک</p>
                            {% elif record.rain < 2 %}
                                <p class="d-flex font-weight-normal" id="data-soil">کمی مرطوب</p>
                            {% elif record.rain < 3 %}
                                <p class="d-flex font-weight-normal" id="data-soil">نسبتا مرطوب</p>
                            {% else %}
                                <p class="d-flex font-weight-normal" id="data-soil">کاملا مرطوب</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <div class="crypto-card overflow-hidden">
                <div class="card-body p-0">
                    <div class="mb-0 p-3">
                        <h6>
                            <span class="cryp-icon my-auto me-2">
                                <img src="{{ url_for('static', filename='img/icons/alarm.png') }}" alt="coin image">
                            </span>
                            وضعیت هشدار هواشناسی
                        </h6>
                        <div class="d-flex justify-content-between mt-2">
                            {% if not record.alram %}
                            <p class="d-flex font-weight-normal" id="data-light">سفید</p>
                            {% else %}
                            <p class="d-flex font-weight-normal" id="data-light">قرمز</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="value-market-item">
    <div class="row">
        <div class="col-12 overflow-hidden">
            <div class="value-market-ticker">
                <ul>
                    <li>
                        <span>تاریخ آخرین بروزرسانی:<span class="text-warning ps-1" id="data-date">{{ update_date }}</span> </span>
                    </li>
                    <li>
                        <span>ساعت آخرین بروزرسانی: <span class="text-warning ps-1" id="data-time">{{ update_time }}</span> </span>
                    </li>
                    <li>
                        <span>وضعیت کلی سیستم:<span class="text-warning ps-1">مطلوب</span> </span>
                    </li>
                    <li>
                        <span></span>
                    </li>
                    <li>
                        <span></span>
                    </li>
                    <li>
                        <span></span>
                    </li>
                    <li>
                        <span></span>
                    </li>
                    <li>
                        <span></span>
                    </li>
                    <li>
                        <span></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/updater.js') }}"></script>
{% endblock %}