{% extends 'base.html' %}

{% block title %}
<title>آداک</title>
{% endblock %}

{% block content %}
<!-- Start Banner Area -->
<div class="banner-wrapper-area jarallax" data-jarallax='{"speed": 0.3}'>
    <div class="container">
        <div class="banner-wrapper-content">
            <h1>جزیره ها</h1>
            <span class="sub-title">از فتح جزیره ها لذت ببرید</span>
        </div>
    </div>
</div>
<!-- End Banner Area -->
<!-- Start Islands Area -->
<section class="gallery-area pt-100 pb-70">
    {% if islands_math %}
    <div class="container">
        <h3>ریاضی</h3>
        <div class="row">
            {% for island in islands_math %}
                {% if island.is_active and not island.is_finished %}
                    <div class="col-lg-4 col-md-6">
                        <div class="single-live-stream-item">
                            <img src="{{ url_for('static', filename=island.avatar) }}" alt="image">

                            <div class="content">
                                <h3>{{island.name}}</h3>
                            </div>
                            <a href="{{ url_for('island', island_id=island.id) }}" class="video-btn"><i class="flaticon-play-button"></i></a>
                            <a href="{{ url_for('island', island_id=island.id) }}" class="link-btn"></a>
                        </div>
                    </div>
                {% endif %}
                {% if island.is_finished %}
                    <div class="col-lg-4 col-md-6">
                        <div class="single-live-stream-item">
                            <img src="{{ url_for('static', filename=island.avatar) }}" alt="image">

                            <div class="content">
                                <h3>{{island.name}}</h3>
                            </div>
                            <span class="video-btn"><i class="flaticon-medal-1"></i></span>
                            <span class="link-btn"></span>
                        </div>
                    </div>
                {% endif %}
                {% if not island.is_finished and not island.is_active %}
                <div class="col-lg-4 col-md-6">
                    <div class="single-live-stream-item">
                        <img src="{{ url_for('static', filename=island.avatar) }}" alt="image">
                        <div class="lock-image"></div>

                        <div class="content">
                            <h3>{{island.name}}</h3>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endif %}

    {% if islands_sc %}
    <div class="container">
        <h3>علوم</h3>
        <div class="row">
            {% for island in islands_sc %}
                {% if island.is_active and not island.is_finished %}
                    <div class="col-lg-4 col-md-6">
                        <div class="single-live-stream-item">
                            <img src="{{ url_for('static', filename=island.avatar) }}" alt="image">

                            <div class="content">
                                <h3>{{island.name}}</h3>
                            </div>
                            <a href="{{ url_for('island', island_id=island.id) }}" class="video-btn"><i class="flaticon-play-button"></i></a>
                            <a href="{{ url_for('island', island_id=island.id) }}" class="link-btn"></a>
                        </div>
                    </div>
                {% endif %}
                {% if island.is_finished %}
                    <div class="col-lg-4 col-md-6">
                        <div class="single-live-stream-item">
                            <img src="{{ url_for('static', filename=island.avatar) }}" alt="image">

                            <div class="content">
                                <h3>{{island.name}}</h3>
                            </div>
                            <span class="video-btn"><i class="flaticon-medal-1"></i></span>
                            <span class="link-btn"></spana>
                        </div>
                    </div>
                {% endif %}
                {% if not island.is_finished and not island.is_active %}
                <div class="col-lg-4 col-md-6">
                    <div class="single-live-stream-item">
                        <img src="{{ url_for('static', filename=island.avatar) }}" alt="image">
                        <div class="lock-image"></div>

                        <div class="content">
                            <h3>{{island.name}}</h3>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endif %}
</section>
<!-- End Islands Area -->
{% endblock %}