{% extends 'base.html' %}

{% block title %}
<title>آداک</title>
{% endblock %}

{% block content %}
<!-- Start Banner Area -->
<div class="banner-wrapper-area jarallax pb-0" data-jarallax='{"speed": 0.3}'>
    <div class="container">
        <div class="banner-wrapper-content">
            <h1>{{ name }}</h1>
            <input class="d-none" type="hidden" id="island-id" name="island-id" value="{{ island_id }}">
            <input class="d-none" type="hidden" id="group-id" name="group-id" value="{{ group_id }}">
            <span class="sub-title">صندوقچه گنج منتظر توست</span>
        </div>
    </div>
</div>
<!-- End Banner Area -->

<!-- Start Game Area -->
<section class="my-2">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-12">
                <div class="blog-details-desc">
                    <div>
                        <div class="article-image">
                            <img src="{{ url_for('static', filename='img/islands-map/' + map) }}" alt="map">
                        </div>
                    </div>

                    <div class="article-content">
                        <div class="entry-meta my-2">
                            <ul>
                                <li>
                                    <i class='bx bx-folder-open'></i>
                                    <span>مرحله</span>
                                    <a href="#" id="level-id">{{level}}</a>
                                </li>
                                <li>
                                    <i class='bx bx-calendar'></i>
                                    <span>مهلت فتح جزیره</span>
                                    <a href="#">{{dead_time}}</a>
                                </li>
                                <li>
                                    <i class='bx bx-money'></i>
                                    <span>بودجه گروه</span>
                                    <a href="#">{{money}}</a>
                                </li>
                            </ul>
                        </div>

                        <!-- Start Bio -->
                        <div> 
                            {% if waiting and not open_chest %}
                            <p>o********************o</p>
                            {% endif %}
                            
                            <h3>قبل از اینکه شروع به حل چالش کنید یکم راجع به دانشمند این جزیره بیشتر بدون</h3>
                            <div class="row">
                                <img class="d-flex col-md-4 my-auto col-sm-12" src="{{ url_for('static', filename='img/bio/' + bio_img) }}" alt="problem">
                                <blockquote class="d-flex col-md-8 col-sm-12 wp-block-quote">
                                    <p>{{ bio_text }}</p>
        
                                    <cite>{{ name }}</cite>
                                </blockquote>
                            </div>

                        </div>
                        <!-- End Bio -->

                        <div>
                            <h3 class="text-center">حالا وقت حل چالش این مرحله رسید!</h3>

                            <div>
                                <h4>چهار پیشنهاد برای حل بهتر این چالش:</h4>
                                <ul class="features-list">
                                    <li><i class='bx bx-badge-check'></i> اول اینکه خوب این مبحث درسی رو از کتاب مطالعه کنید</li>
                                    <li><i class='bx bx-badge-check'></i> دوم اینکه تکلیف هایی که معلم بهتون داده رو یکبار دیگه مرور کنید</li>
                                    <li><i class='bx bx-badge-check'></i> سوم اینکه از کتاب کار ریاضیتون چندتا مثال دیگه حل کنید.</li>
                                    <li><i class='bx bx-badge-check'></i> چهارمم اینکه مثل یه تیم حرفه ای با هم تبادل نظر کنید تا چالش حل بشه</li>
                                </ul>
                            </div>
    
                            <!-- Start Problem -->
                            <div>
                                <img class="my-3 w-100" src="{{ url_for('static', filename=problems[level|string][0]) }}" alt="problem">
                                <div class="input-group input-group-lg">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text rounded-0" id="inputGroup-sizing-lg">پاسخ</span>
                                    </div>
                                    <input type="text" class="form-control text-white" id="response-val" placeholder="جواب آخر خود را اینجا بنویسید.">
                                </div>
                            </div>
                            <!-- End Problem -->
    
                            <!-- Start Help -->
                            <div>
                                <h4 class="mt-3">اگه خیلی سخته:</h4>
                                <div class="btn-group mb-3" role="group" aria-label="Basic example">
                                    <button type="button" class="btn btn-warning mx-1" data-toggle="modal" data-target="#textModal">خرید درسنامه</button>
                                    {% if group_text_books %}
                                    <button type="button" class="btn btn-info mx-1" data-toggle="modal" data-target="#showtextModal">مشاهده درسنامه های خریده شده</button>
                                    {% endif %}
                                    <button type="button" class="btn btn-danger mx-1" data-toggle="modal" data-target="#needHelp">درخواست کمک از سایر تیم ها</button>
                                    <button type="button" class="btn btn-primary mx-1" data-toggle="modal" data-target="#teacherHelp">درخواست کمک از معلم</button>
                                </div>
                            </div>
                            <!-- End Help -->
                            
                            <!-- Start Helping -->
                            <div>
                                <h4 class="mt-3">هوای بقیه رو هم داشته باش</h4>
                                <div class="btn-group mb-3" role="group" aria-label="Basic example">
                                    <button type="button" class="btn btn-success mx-2" data-toggle="modal" data-target="#makeHelp">کمک به دیگران</button>
                                </div>
                            </div>
                            <!-- End Helping -->
    
                            <!-- Start Final Sumbit -->
                            <div class="my-5">
                                <button type="button" class="btn btn-primary mx-2 w-100" id="submit-resposne">ثبت نهایی پاسخ</button>
                                <p class="text-center text-danger mt-2 d-none" id="resposne-empty">جواب آخر نمی تواند خالی باشد!</p>
                            </div>
                            <!-- End Final Sumbit -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Game Area -->

<!-- Buy TextBook Modal -->
<div class="modal fade" id="textModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-dark">خرید درسنامه</h4>
            </div>
            <div class="modal-body">
                {% if not group_text_books %}
                <p class="text-dark">شما تا کنون برای این جزیره درسنامه ای خرید نکردید.</p>
                <p class="text-dark">دقت کنید که درسنامه ها حاوی نکاتی برای همه مراحل جزیره است.</p>
                <div id="textbook-boxes">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="option1" id="txb1">
                        <label class="form-check-label text-dark mx-3" for="txb1">
                            درسنامه سبک - {{ island_text_books['1'][1] }} سکه
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="option2" id="txb2">
                        <label class="form-check-label text-dark mx-3" for="txb2">
                            درسنامه متوسط - {{ island_text_books['2'][1] }} سکه
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="option3" id="txb3">
                        <label class="form-check-label text-dark mx-3" for="txb3">
                            درسنامه حرفه ای - {{ island_text_books['3'][1] }} سکه
                        </label>
                    </div>
                </div>
                {% else %}
                <p class="text-dark">بنظر میرسه قصد داری درسنامه ای دیگه ای برای این جزیره بخری.</p>
                <div id="textbook-boxes">
                    {% if group_text_books[island_id|string][0] %}
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="option1" id="txb1" checked disabled>
                        <label class="form-check-label text-dark mx-3" for="txb1">
                            درسنامه سبک - {{ island_text_books['1'][1] }} سکه
                        </label>
                    </div>
                    {% else %}
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="option1" id="txb1">
                        <label class="form-check-label text-dark mx-3" for="txb1">
                            درسنامه سبک - {{ island_text_books['1'][1] }} سکه
                        </label>
                    </div>
                    {% endif %}
                    {% if group_text_books[island_id|string][1] %}
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="option2" id="txb2" checked disabled>
                        <label class="form-check-label text-dark mx-3" for="txb2">
                            درسنامه متوسط - {{ island_text_books['2'][1] }} سکه
                        </label>
                    </div>
                    {% else %}
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="option2" id="txb2">
                        <label class="form-check-label text-dark mx-3" for="txb2">
                            درسنامه متوسط - {{ island_text_books['2'][1] }} سکه
                        </label>
                    </div>
                    {% endif %}
                    {% if group_text_books[island_id|string][2] %}
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="option3" id="txb3" checked disabled>
                        <label class="form-check-label text-dark mx-3" for="txb3">
                            درسنامه حرفه ای - {{ island_text_books['3'][1] }} سکه
                        </label>
                    </div>
                    {% else %}
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="option3" id="txb3">
                        <label class="form-check-label text-dark mx-3" for="txb3">
                            درسنامه حرفه ای - {{ island_text_books['3'][1] }} سکه
                        </label>
                    </div>
                    {% endif %}
                </div>
                {% endif %}
                <p class="text-danger d-none" id="low-budget">متاسفم! گروه شما پول کافی برای خرید این درسنامه رو نداره.</p>
                <p class="text-danger d-none" id="no-choose">هیچ درسنامه ای رو انتخاب نکردید!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="buy-textbook">ثبت خرید</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">بستن</button>
            </div>
        </div>
    </div>
</div>
<!-- End Buy TextBook Modal -->

<!-- Show TextBook Modal -->
{% if group_text_books %}
<div class="modal fade" id="showtextModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title text-dark">مطالعه درسنامه ها</h4>
            </div>
            <div class="modal-body">
                {% for textbook in group_text_books %}
                <img class="my-3" src="{{ url_for('static', filename='img/textbooks/' + island_text_books[group_text_books.model|string][0]) }}" alt="problem">
                {% endfor %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">بستن</button>
            </div>
        </div>
    </div>
</div>
{% endif %}
<!-- End Show TextBook Modal -->

<!-- Need Help Modal -->
<div class="modal fade" id="needHelp" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title text-dark">درخواست کمک</h4>
            </div>
            <div class="modal-body">
                <p class="text-dark">دقت کنید که توی هر جزیره فقط می تونید 2 بار درخواست کمک کنید.</p>
                <p class="text-dark">برای هر درخواست کمک 23 سکه   به تیمی که کمکتون کرده اضافه میشه.</p>
                <p class="text-dark">بعد از اینکه درخواست کمک رو ثبت کردید، باید منتظر بمونید تا یکی از تیم ها بهتون کمک کنه، میتونید حضوری سرکلاس هم با تیم ها برای کمک مذاکره کنید.</p>
                <p class="text-dark">شما اکنون {{remain_help}} درخواست کمک می توانید ثبت کنید.</p>
                {% if help_levels %}
                <p class="text-dark">درخواست های پیشین فعال شما برای این جزیره: </p>
                {% for help_level in help_levels %}
                <div class="d-flex justify-content-between">
                    <input class="d-none help-id" type="hidden" name="island-id" value="{{ help_id[loop.index - 1] }}">
                    <p class="text-dark">کمک برای مرحله {{help_level}}</p>
                    <button class="btn btn-sm btn-danger mx-3 remove-help">حذف این کمک</button>
                </div>
                {% endfor %}
                {% endif %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="help-wanted">ثبت درخواست کمک</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">بستن</button>
            </div>
        </div>
    </div>
</div>
<!-- End Need Help Modal -->

<!-- Make Help Modal -->
<div class="modal fade" id="makeHelp" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title text-dark">کمک کردن به سایر تیم ها</h4>
            </div>
            <div class="modal-body">
                <p class="text-dark">اینجا میتونی لیست تیم هایی که درخواست کمک کردن رو مشاهده کنی:</p>
                {% if help_needed %}
                {% for team in help_needed %}
                <div class="d-flex justify-content-between">
                    <input class="d-none help_needed-id" type="hidden" name="help_needed-id" value="{{ team[0] }}">
                    <p class="text-dark">تیم درخواست دهنده: {{ team[1] }}</p>
                    <button class="btn btn-sm btn-info mx-3 make-help">با کمال میل کمک میکنم</button>
                </div>
                {% endfor %}
                {% else %}
                <p class="text-danger">درحال حاضر هیچ تیمی درخواست کمک نداده است.</p>
                {% endif %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">بستن</button>
            </div>
        </div>
    </div>
</div>
<!-- End Make Help Modal -->

<!-- Help Recieved Modal -->
{% if helper_name %}
<div class="modal fade" id="HelpRec" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title text-dark">یه خبر خوب</h4>
            <h4>&#127881;</h4>
            </div>
            <div class="modal-body">
                <p class="text-dark">تیم {{ helper_name }} درخواست کمک شما رو در تاریخ {{ help_date }} قبول کرد</p>
                <p class="text-dark">حالا می تونید با کمک دوستاتون این مرحله رو رد کنید</p>
                <p class="text-dark">اگه مشکلی یا مساله ای هم پیش اومد بهتره با معلمتون درمیون بگذارید</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">بستن</button>
            </div>
        </div>
    </div>
</div>
{% endif %}
<!-- End Help Recieved Modal -->

<!-- Teacher Help Modal -->
<div class="modal fade" id="teacherHelp" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title text-dark">درخواست کمک از معلم</h4>
            </div>
            <div class="modal-body">
                <p class="text-dark">درخواست کمک از معلم گرون ترین حالت کمک خواستنه، پس اینو توی اولویت آخر بگذارید.</p>
                <p class="text-dark">با ثبت درخواست از معلم <strong>50</strong> سکه از دست می دید.</p>
                <p class="text-dark">بعد از زدن دکمه ثبت درخواست، کدی که بهتون نشون داده میشه رو به معلم نشون بدید تا کمکتون کنه.</p>
                <h3 class="text-dark d-none" id="teacher-code">{{ teacher_code }}</h3>
                <p class="text-dark d-none" id="teacher-code-warn">دقت کنید که این کد یکبار نمایش داده میشه پس حتما همین الان اونو یادداشت کنید.</p>
                <p class="text-danger d-none" id="teacher-help-low">شما سکه کافی برای درخواست کمک از معلم ندارید!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="teacher-help">ثبت درخواست کمک</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">بستن</button>
            </div>
        </div>
    </div>
</div>
<!-- End Teacher Help Modal -->

<!-- Failed Modal -->
<div class="modal fade" id="failedModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title text-dark">متاسفم! جوابت درست نبود</h4>
            </div>
            <div class="modal-body">
                <p class="text-dark">اصلا ناراحت نباشید، هنوز فرصت دارید.</p>
                <p class="text-dark">دوبارع تلاش کنید، یادتون نره میتونید درسنامه بخرید یا از بقیه کمک بگیرید.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">تلاش مجدد</button>
            </div>
        </div>
    </div>
</div>
<!-- End Failed Modal -->

<!-- Pass Modal -->
<div class="modal fade" id="passModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h4 class="modal-title text-dark">آفرین</h4>
            <h4>&#127881; &#127881; &#127881;</h4>
            </div>
            <div class="modal-body">
                <p class="text-dark">شما تونستید این چالش رو با موفقیت بگذرونید</p>
                <p class="text-dark">بخاطر موفقیتتون تعداد <strong>{{ level_price }}</strong> سکه جایزه میگرید.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success w-100" id="next-level">بریم چالش بعدی</button>
            </div>
        </div>
    </div>
</div>
<!-- End Pass Modal -->

<!-- Complete Island Modal -->
<div class="modal fade" id="completeModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h4 class="modal-title text-dark">آفرین</h4>
            <h4>&#127881; &#127881; &#127881;</h4>
            </div>
            <div class="modal-body">
                <p class="text-dark">شما موفق شدید تمام چالش های این جزیره رو حل کنید</p>
                <p class="text-dark">بخاطر موفقیتتون تعداد <strong>{{ level_price }}</strong> سکه جایزه میگرید.</p>
                <p class="text-dark">حالا باید منتظر بمونید سایر دوستانتون هم تمام چالش هارو حل کنن، یادتون نره بهشون کمک کنید.</p>
            </div>
            <div class="modal-footer">
                <a href="{{ url_for('group')}} " type="button" class="btn btn-success w-100">پایان</a>
            </div>
        </div>
    </div>
</div>
<!-- End Complete Island -->

<!-- Waiting Island Modal -->
{% if waiting and not open_chest and not done_all_islands %}
<div class="modal fade" id="waitingModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h4 class="modal-title text-dark">منتظریم</h4>
            </div>
            <div class="modal-body">
                <p class="text-dark">هنوز همه تیم ها موفق نشدن این جزیره رو فتح کنن، باید بیشتر منتظر بمونید.</p>
                <p class="text-primary">اینجا میتونی لیست تیم هایی که درخواست کمک کردن رو مشاهده کنی:</p>
                {% if help_needed %}
                {% for team in help_needed %}
                <div class="d-flex justify-content-between">
                    <input class="d-none help_needed-id" type="hidden" name="help_needed-id" value="{{ team[0] }}">
                    <p class="text-dark">تیم درخواست دهنده: {{ team[1] }}</p>
                    <button class="btn btn-sm btn-info mx-3 make-help">با کمال میل کمک میکنم</button>
                </div>
                {% endfor %}
                {% else %}
                <p class="text-danger">درحال حاضر هیچ تیمی درخواست کمک نداده است.</p>
                {% endif %}
            </div>
            <div class="modal-footer">
                <a href="{{ url_for('group') }}" class="btn btn-success w-100" id="end-level">بازگشت به صفحه تیم</a>
            </div>
        </div>
    </div>
</div>
{% endif %}
<!-- End Waiting Island -->

<!-- Open Chest Modal -->
{% if open_chest %}
<div class="modal fade" id="chestModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h4 class="modal-title text-dark">هورااااااا</h4>
            <h4>&#10024; &#127942; &#127881; &#128176;</h4>
            </div>
            <div class="modal-body">
                <p class="text-dark">صندوقچه گنج رو به کمک هم باز کردید.</p>
                <div class="text-center">
                    <img src="{{ url_for('static', filename='img/treasure/ch1.png') }}" class="img-fluid" width="300px" height="300px">
                </div>
                <p class="text-dark">آفرین به همتون</p>
                <div class="container">
                    <div class="row">
                        {% for group in groups_info %}
                        <div class="col-12 mb-2 d-flex flex-row justify-content-around align-items-center">
                            <img src="{{ url_for('static', filename='img/avatars/' + group[0]  + '.jpg') }}" class="img-fluid" width="64px" height="64px">
                            <span class="text-primary">{{ group[1] }}</span>
                            <span class="text-dark font-small">{{ group[2][0] }} - {{ group[2][1] }} - {{ group[2][2] }}</span>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <p class="text-dark mt-2">گنجینه این جزیره <strong>{{treasure}} </strong>سکه داشت که بین همه گروه ها تقسیم میشه</p>
                <!-- <p class="text-dark mt-1">مهم تر از اون این که شما تونستید یکی از 9 رقم رمز نهایی رو پیدا کنید، اونو یادداشت کنید و تا فتح آخرین جزیره همراه داشته باشید</p>
                <h3 class="text-center text-dark mt-1">6</h3> -->
            </div>
            <div class="modal-footer">
                <a href="{{ url_for('group') }}" class="btn btn-success w-100" id="end-level">بازگشت به صفحه تیم</a>
            </div>
        </div>
    </div>
</div>
{% endif %}
<!-- End Open Chest -->

<!-- Open Chest Modal -->
{% if done_all_islands %}
<div class="modal fade" id="doneAllModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h4 class="modal-title text-dark">هورااااااا</h4>
            <h4>&#10024; &#127942; &#127881; &#128176;</h4>
            </div>
            <div class="modal-body">
                <p class="text-dark">تمام جزیره های این درس رو تموم کردید.</p>
                <div class="text-center">
                    <img src="{{ url_for('static', filename='img/treasure/ch1.png') }}" class="img-fluid" width="300px" height="300px">
                </div>
                <p class="text-dark">آفرین به همتون</p>
                <div class="container">
                    <div class="row">
                        {% for group in groups_info %}
                        <div class="col-12 mb-2 d-flex flex-row justify-content-around align-items-center">
                            <img src="{{ url_for('static', filename='img/avatars/' + group[0]  + '.jpg') }}" class="img-fluid" width="64px" height="64px">
                            <span class="text-primary">{{ group[1] }}</span>
                            <span class="text-dark font-small">{{ group[2][0] }} - {{ group[2][1] }} - {{ group[2][2] }}</span>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <p class="text-dark mt-1">حالا میتونید با پولی که براتون مونده از مدرسه جایزتون رو بگیرید</p>
                
            </div>
            <div class="modal-footer">
                <a href="{{ url_for('group') }}" class="btn btn-success w-100" id="end-level">بازگشت به صفحه تیم</a>
            </div>
        </div>
    </div>
</div>
{% endif %}
<!-- End Open Chest -->

{% endblock %}

{% block body_js %}
<script src="{{ url_for('static', filename='js/textbooks.js') }}"></script>
<script src="{{ url_for('static', filename='js/helps.js') }}"></script>
<script src="{{ url_for('static', filename='js/submit-result.js') }}"></script>
{% endblock %}