<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Nextcoin">
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="keywords" content="HTML,CSS,JavaScript">
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
        <title>ورود</title>

            <!-- Favicon-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/boxicons.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/meanmenu.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/flaticon.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/fancybox.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/rtl.css') }}">

    </head>
    <body>
        <!-- Page loader -->
        <div id="loader-page">
            <div class="loader" id="line">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <!-- Header Section -->
        <header class="header-main">
            <div class="container">
            </div>
        </header>
        <!-- Main Section -->
        <main class="main-content">
            <div class="container">
                <div class="login-item">
                    <div class="logo-item py-4">
                        <div class="d-flex justify-content-center text-center">
                            <a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='img/logo.png') }}" alt="logo" class="logo-main"></a>
                        </div>
                    </div>
                    <div class="login-card-form">
                        <h4 class="main-title py-4">
                        ورود
                        </h4>
                        <form method="POST" action="{{ url_for('login') }}" novalidate>
                            {{ form.hidden_tag() }}
                            <div class="form-group row">
                                {{ form.user_name(class="form-control form-control-user text-white", size=20) }}
                                {% for error in form.user_name.errors %}
                                    <span class="text-danger">{{ error }}</span>
                                {% endfor %}
                            </div>
                            <div class="form-group row">
                                {{ form.password(class="form-control form-control-user text-white", size=20) }}
                                {% for error in form.password.errors %}
                                    <span class="text-danger">{{ error }}</span>
                                {% endfor %}
                            </div>
                            <div class="form-group row d-flex">
                                {{ form.remember_me.label }}
                                {{ form.remember_me(class="mr-2") }}
                                {% for error in form.remember_me.errors %}
                                    <span class="text-danger">{{ error }}</span>
                                {% endfor %}
                            </div>
                            <div class="form-group row">
                                {{ form.submit(class="btn btn-primary btn-user btn-block") }}
                                
                            </div>
                            
                        </form>
                    </div>
                </div>
            </div>
        </main>
        <!-- JQuery library file -->
        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.jConveyorTicker.js') }}"></script>
        <!-- charts js-->
        <script src="{{ url_for('static', filename='js/chart.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/chart-custom.js') }}"></script>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
        <script src="{{ url_for('static', filename='js/pwa.js') }}"></script>
    </body>
</html>