{% extends 'base.html' %}

{% block title %}
<title>تیم من</title>
{% endblock %}

{% block content %}
<!-- Start Profile Details -->
<section class="team-details-area ptb-100">
    <div class="container">
        <div class="card-body">
            <form method="POST" action="{{ url_for('profile') }}" enctype="multipart/form-data" novalidate>
                {{ form.hidden_tag() }}
                <div class="form-group row">
                    <div class="col-12">
                        {{ form.user_name(class="form-control form-control-user text-white", size=20) }}
                        {% for error in form.user_name.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        {{ form.first_name(class="form-control form-control-user text-white", size=20) }}
                        {% for error in form.first_name.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="col-sm-6">
                        {{ form.last_name(class="form-control form-control-user text-white", size=20) }}
                        {% for error in form.last_name.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        {{ form.password(class="form-control form-control-user text-white", size=20) }}
                        {% for error in form.password.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="col-sm-6">
                        {{ form.repeat_password(class="form-control form-control-user text-white", size=20) }}
                        {% for error in form.repeat_password.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group row">
                    <!-- <div class="col-3">
                        {{ form.profile_picture(class="form-control form-control-user text-white", size=20) }}
                        {% for error in form.profile_picture.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div> -->
                </div>
                <div class="form-group row">
                    <div class="col-12">
                        {{ form.submit(class="btn btn-primary btn-user btn-block") }}
                    </div>
                </div>
                
            </form>
        </div>
    </div>
</section>
<!-- End Profile Details -->

{% endblock %}

{% block body_js %}
<script src="{{ url_for('static', filename='js/team-name.js') }}"></script>
{% endblock %}