{% extends 'base.html' %}

{% block title %}
<title>پروفایل من</title>
{% endblock %}


{% block content %}


<section class="gray pt-90 pt-sm-30">
    <div class="container-fluid">
                            
        <div class="row">
        
            <div class="col-lg-3 col-md-3">
                <div class="dashboard-navbar">
                    
                    <div class="d-user-avater">
                        <img src="assets/img/user-3.jpg" class="img-fluid avater" alt="">
                        <h4>{{ user.fname }} {{ user.lname }}</h4>
                        <span>{{ user.user_name }}</span>
                        <h4>پایه: {{ user.grade }}</h4>
                    </div>
                    
                    <div class="d-navigation">
                        <ul id="side-menu">
                            <li class="active"><a href="#"><i class="ti-user"></i>داشبورد</a></li>
                            <li><a href="{{ url_for('logout') }}"><i class="ti-power-off"></i>خروج</a></li>
                        </ul>
                    </div>
                    
                </div>
                
                
            </div>	
            
            <div class="col-lg-9 col-md-9 col-sm-12">                
                <!-- Row -->
                <div class="row">
            
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                        <div class="dashboard_stats_wrap">
                            <div class="dashboard_stats_wrap_content"><h4 class="text-success">{{ total_activity }}</h4> <span>محتوای دیده شده</span></div>
                            <div class="dashboard_stats_wrap-icon ms-2"><i class="ti-video-camera"></i></div>
                        </div>	
                    </div>
                    
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                        <div class="dashboard_stats_wrap">
                            <div class="dashboard_stats_wrap_content"><h4 class="text-warning">{{ grade_A }}</h4> <span>عملکرد عالی</span></div>
                            <div class="dashboard_stats_wrap-icon"><i class="ti-star"></i></div>
                        </div>	
                    </div>
                    
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                        <div class="dashboard_stats_wrap">
                            <div class="dashboard_stats_wrap_content"><h4 class="text-danger">{{ grade_F }}</h4> <span>عملکرد ضعیف</span></div>
                            <div class="dashboard_stats_wrap-icon"><i class="ti-close"></i></div>
                        </div>	
                    </div>
                    
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                        <div class="dashboard_stats_wrap">
                            <div class="dashboard_stats_wrap_content"><h5 class="text-info">{{ last_login }}</h5> <span>آخرین ورود</span></div>
                            <div class="dashboard_stats_wrap-icon"><i class="ti-user"></i></div>
                        </div>	
                    </div>
                    
                </div>
                <!-- /Row -->

                <!-- row-->
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="dashboard_container">
                            <div class="dashboard_container_header">
                                <div class="dashboard_fl_1">
                                    <h4>کدهای تخفیف</h4>
                                </div>
                            </div>
                            <div class="dashboard_container_body p-4">
                                <p>با موفقیت گذراندن <strong class="text-primary">{{ remain_to_coupon }}</strong> درس دیگر، یک جایزه جدید دریافت خواهید کرد.</p>
                                <p>شما تا کنون موفق به کسب <strong class="text-primary">{{ coupon }}</strong> جایزه شده اید.</p>
                                <p>در جدول زیر جوائز خود را مشاهده کنید:</p>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">کد جایزه</th>
                                            <th scope="col">توضیحات</th>
                                            <th scope="col">تاریخ انقضا</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for reward in rewards %}
                                        <tr>
                                            <th scope="row">{{reward[0]}}</th>
                                            <td>{{reward[1]}}</td>
                                            <td>{{reward[2]}}</td>
                                            <td>{{reward[3]}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <!-- Row End -->

                <!-- row-->
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="dashboard_container">
                            <div class="dashboard_container_header">
                                <div class="dashboard_fl_1">
                                    <h4>تنظیمات حساب کاربری</h4>
                                </div>
                            </div>
                            <div class="dashboard_container_body p-4">
                                <form method="POST" action="{{ url_for('profile') }}" novalidate>
                                    {{ form.hidden_tag() }}
                                    <div class="form-group">
                                        {{ form.user_name.label }}
                                        {{ form.user_name(class="form-control form-control-user", size=20, value=user.user_name) }}
                                        {% for error in form.user_name.errors %}
                                            <span class="text-danger">{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-6 mb-3 mb-sm-0">
                                            {{ form.first_name.label }}
                                            {{ form.first_name(class="form-control form-control-user", size=20, value=user.fname) }}
                                            {% for error in form.first_name.errors %}
                                                <span class="text-danger">{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                        <div class="col-sm-6">
                                            {{ form.last_name.label }}
                                            {{ form.last_name(class="form-control form-control-user", size=20, value=user.lname) }}
                                            {% for error in form.last_name.errors %}
                                                <span class="text-danger">{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-6 mb-3 mb-sm-0">
                                            {{ form.password.label }}
                                            {{ form.password(class="form-control form-control-user", size=20) }}
                                            {% for error in form.password.errors %}
                                                <span class="text-danger">{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                        <div class="col-sm-6">
                                            {{ form.repeat_password.label }}
                                            {{ form.repeat_password(class="form-control form-control-user", size=20) }}
                                            {% for error in form.repeat_password.errors %}
                                                <span class="text-danger">{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {{ form.submit(class="btn btn-primary btn-user btn-block") }}
                                    </div>
                                </form>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <!-- Row End -->

            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block js %}

{% endblock %}
