{% extends 'base.html' %}

{% block title %}
<title>آکیـــما|جزئیات</title>
{% endblock %}

{% block content %}
<div class="owl-carousel main-slider">
    <div class="item-card">
        <div class="card-content bg-lightred">
            <div class="card-info d-flex my-4">
                <div class="info-holder">
                    <h4 class="text-light">{{ user.fname + ' ' + user.lname }} عزیز</h4>
                </div>
            </div>
            <span>در این صفحه می توانید تنظیمات لازم را انجام دهید</span>
        </div>
    </div>
</div>

<div class="settings-item mt-5">
    <div class="settings-list">
        <!-- <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center mb-3">
                <h5 class="fs-16">اعلان هشدار</h5>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="enable-alarm">
                </div>
            </li>
        </ul> -->
        <select class="form-select form-select-lg mb-5" aria-label="" id="city">
            <option value="0" selected>انتخاب نزدیک ترین شهر محل مزرعه</option>
            {% for key, value in cities.items() %}
            <option value="{{ key }}">{{ value }}</option>
            {% endfor %}
        </select>

        <select class="form-select form-select-lg" aria-label="" id="corp-type">
            <option value="0" selected>انتخاب آسیب پذیرترین محصول مزرعه</option>
            {% for key, value in corps.items() %}
            <option value="{{ key }}">{{ value }}</option>
            {% endfor %}
        </select>

        <div>
            <button class="btn btn-primary w-100 mt-5" id="submit-setting">اعمال تنظیمات</button>
            <p class="mt-3 text-danger d-none" id="setting-fail">لطفا یک محصول انتخاب کنید!</p>
            <p class="mt-3 text-danger d-none" id="city-empty">لطفا یک شهر انتخاب کنید!</p>
        </div>

    </div>
</div>
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/user-setting.js') }}"></script>
{% endblock %}