{% extends 'base.html' %}

{% block title %}
<title>ثبت نام و مشاهده دانش آموزان</title>
{% endblock %}

{% block content %}
        <!-- Start Banner Area -->
        <div class="banner-wrapper-area jarallax" data-jarallax='{"speed": 0.3}'>
            <div class="container">
                <div class="banner-wrapper-content">
                    <h1>سفر به آداک</h1>
                    <span class="sub-title">رقابتی سالم برای دانش آموزان خود ایجاد کنید</span>
                </div>
            </div>
        </div>
        <!-- End Banner Area -->

        <!-- Start Upcoming Tournaments Area -->
        <section class="upcoming-tournaments-area pb-100">
            <div class="container mt-5">

                <div class="single-tournaments-box">
                    <div class="tournaments-image">
                        <div class="image bg1">
                            <img src="{{ url_for('static', filename='img/reg-stud.jpg') }}" alt="image">
                        </div>
                    </div>

                    <div class="tournaments-content">
                        <div class="content">
                            <h3><a href="{{ url_for('students_reg') }}">ثبت نام دانش آموزان</a></h3>
                            <a href="{{ url_for('students_reg') }}" class="default-btn">اطلاعات بیشتر</a>
                        </div>
                    </div>
                </div>

                <div class="single-tournaments-box">
                    <div class="tournaments-content">
                        <div class="content">
                            <h3><a href="{{ url_for('show_students') }}">مشاهده دانش آموزان</a></h3>
                            <a href="{{ url_for('show_students') }}" class="default-btn">اطلاعات بیشتر</a>
                        </div>
                    </div>

                    <div class="tournaments-image">
                        <div class="image bg2">
                            <img src="{{ url_for('static', filename='img/my-stud.jpg') }}" alt="image">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Upcoming Tournaments Area -->


        <!-- Start Top Team Area -->
        <section class="top-team-area pb-70">
            <div class="container">
                <div class="section-title">
                    <h2>بیشترین سکه ها</h2>
                </div>

                <div class="row">
                    {% for group in groups %}
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-top-team-item">
                            <img src="{{ url_for('static', filename='img/avatars/' + group.avatar  + '.jpg') }}" alt="image">
                            <h3>{{group.name}}</h3>
                            <h5 class="mt-3">{{group.money}} سکه</h5>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <!-- End Top Team Area -->
{% endblock %}