{% extends 'base.html' %}

{% block title %}
<title>آکیـــما|جزئیات</title>
{% endblock %}

{% block content %}
<div class="owl-carousel main-slider">
    <div class="item-card">
        <div class="card-content bg-lightgreen">
            <div class="card-info d-flex my-4">
                <div class="info-holder">
                    <h4 class="text-light">{{ user.fname + ' ' + user.lname }} عزیز</h4>
                </div>
            </div>
            <span>در این صفحه می توانید اطلاعات هواشناسی را مشاهده کنید.</span>
        </div>
    </div>
</div>

<div class="card-body">
    <h5 class="text-white">جزئیات امروز</h5>
    <table class="table text-white">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">پارامتر</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">دمای کنونی</th>
                <td>{{ record.temperature }} درجه</td>
            </tr>
            <tr>
                <th scope="row">رطوبت کنونی</th>
                <td>{{ record.humidity }}%</td>
            </tr>
            <tr>
                <th scope="row">احتمال بارش</th>
                <td>{{ weather['precipitation'] }}</td>
            </tr>
            <tr>
                <th scope="row">سرعت باد</th>
                <td>{{ weather['wind'] }}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="card-body">
    <h5 class="text-white">پیش بینی دمایی 3 روز آتی</h5>
    <table class="table text-white">
        <thead>
            <tr>
                <th scope="col">روز</th>
                <th scope="col">بیشینه دما</th>
                <th scope="col">کمینه دما</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">امروز</th>
                <td>{{ weather['d0_max_temp'] }}</td>
                <td>{{ weather['d0_min_temp'] }}</td>
            </tr>
            <tr>
                <th scope="row">فردا</th>
                <td>{{ weather['d1_max_temp'] }}</td>
                <td>{{ weather['d1_min_temp'] }}</td>
            </tr>
            <tr>
                <th scope="row">پسفردا</th>
                <td>{{ weather['d2_max_temp'] }}</td>
                <td>{{ weather['d2_min_temp'] }}</td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/user-setting.js') }}"></script>
{% endblock %}